<!DOCTYPE html>
<html lang="en">
  <head><!--TEMPLATE--></head>
  <body>
    <div id="navbar"><!--TEMPLATE--></div>
    <div id="content">
      <h2>Jiggler <a href="https://google.com/search?q=adventure+time+jiggler"><img src="jiggler-64x64.png" /></a></h2>
      <p>Jiggler lets you make and share short links, like a set of shared bookmarks. Like many other such projects, it is based on Google's internal "go" shortlink service.</p>
      <h2>Usage</h2>
      <p>Links live at <span class="selflink">https://JIGGLER-URL/</span>[your link here].</p>
      <p>For instance, you can use the link "jake" by going to <a class="selflink" href="jake"><span class="selflink">https://JIGGLER-URL/</span>jake</a>, and it'll take you to the jake target.</p>
      <p>If you go to a link that's not yet set, you'll be prompted to set it. You can also make or change a link at <a class="selflink" href=""><span class="selflink">https://JIGGLER-URL/</span></a>.</p>
      <h2>Plugin</h2>
      <p>For great convenience, install the Chrome extension (or see <a class="selflink" href="setup.html">these simple instructions</a>). Then, you can use short links just by typing "j [link]" in your address bar.</p>
      <h2>Search</h2>
      <p>You can search existing shortlinks <a class="selflink" href="search">here</a>.
    </div>
  </body>
</html>
