<!DOCTYPE html>
<html lang="en">
  <head><!--TEMPLATE--></head>
  <body>
    <div id="navbar"><!--TEMPLATE--></div>
    <div id="content">
      <div id="confirmation"></div>
      <form class="shortlink" action="link" method="get">
        <span class="prompt">Short link:</span>
        <input type="text" name="shortlink" placeholder="some-link" />
        <button type="submit" value="check" name="action">Check short link</button>
        <button type="submit" value="random" name="action">Random short link</button>
      </form>
      <form class="target" action="link" method="post">
        <span class="prompt">Destination:</span>
        <input title="Destination" type="text" name="target" placeholder="http://some.link/here" />
        <input type="hidden" name="shortlink" />
        <input type="submit" value="Set link" />
        <a id="reset" href="./link">Start over</a>
      </form>
      <div class="footer">
        <a href="happy-jiggler.gif"><img src="simple-jiggler.png"/></a>
        <hr />
        <p><a href="help">Help</a></p>
      </div>
    </div>
    <script type="text/javascript" src="ZeroClipboard.min.js"></script>
    <script type="text/javascript">
var client = new ZeroClipboard( document.getElementById("copy-button") );
    </script>
  </body>
</html>
