<!DOCTYPE html>
<html lang="en">
  <head><!--TEMPLATE--></head>
  <body bgcolor="white">
    <div id="navbar"><!--TEMPLATE--></div>
    <h1>Jiggler Short Links Setup</h1>
    <p>Jiggler lets you share short links with other people in the company.</p>
    <p id="help_menu">Setup for: <a href="#chrome">Chrome</a> <a href="#firefox">Firefox</a></p>
    <h2><a name="chrome"></a>Chrome</h2>
    <p>Install the <a href="TODO add your own URL">Chrome extension.</a></p>
    <h2><a name="firefox"></a>Firefox</h2>
    <p>Right-click in this text-box and choose "Add a keyword for this search." Recommended keyword: "j".</p>
    <form class="selflink" action="_/go" method="get">
      <input type="text" name="link"/>
    </form>
  </body>
</html>
